function format(value){
    if(value){
        if(value){
            if(value.length>6){
                value=value.slice(0,6)+"..."
            }
            return value
        }
    }
}

function formatStar(value){
    if(value){
        var value=value.substring(0,1)
        var arr=[];
        for(var i=1;i<=5;i++){
            if(i<=value){
                arr.push(1)
            }else{
                arr.push(0)
            }
        }
        return arr
    }
}

module.exports={
    format:format,
    formatStar:formatStar
}